# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

*.bak
*.pdb

# exceptions
!blas_win32_MT.dll
!blas_win32_MT.lib
!lapack_win32_MT.dll
!lapack_win32_MT.lib
!blas_win64_MT.dll
!blas_win64_MT.lib
!lapack_win64_MT.dll
!lapack_win64_MT.lib

# directories
bin/

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*.Debug
*.Release

build/*_resource.rc
